body {
	font-family: 'MuseoModerno';
	overflow: hidden;
	user-select: none;
	color: #fff;
}

#backcloth {
	background: #004;
	z-index: -100;
}

#gameover {
	display: block;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	padding: 0 0 2em 0;
	background: rgba(0,0,0,0.65);
	text-align: center;
}

#gameover p {
	margin-top: -1em;
	padding: 1em;
	font-size: 1.5em;
}

#kiosk {
	text-align: center;
}

#highscores {
	padding-top: 2em;
}

#scoreslist {
	list-style-type: none;
	padding-inline-start: 0;
}

a {
	color:  #ff8;
	text-decoration: none;
}
a:hover,
a:focus {
	color:  #ff8;
	text-decoration: underline;
}

h1 {
	font-size: 7em;
	margin: 0;
}

a {
	padding: 0.5em 1em;
	border-radius: 0.5em;
	text-decoration: none;	
}

a.primary {
	background: white;
	color: black;
}
a.secondary {
	margin-right: 2em;
	background: #545490;
	color: #ddd;
}

#gameover,
#stars,
#game {
	display: none;
	position: absolute;
	overflow: hidden;
}

.fullscreen {
	border: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block
}

#info {
	position: absolute;
	top: 0;
	font-size: 2em;
	padding: 2%;
	display: none;	
}

#credits {
	position: absolute;
	bottom: 0;
	font-size: 0.9em;
	padding: 2%;
}